<div class="container">
  <h2>Log in to TAME</h2>
  <form>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Enter password"
      />
    </div>
    <p class="form-check-label" for="exampleCheck1">
      Don't have an account? <a [routerLink]="['../register']">Sign Up!</a>
    </p>
    <button type="submit" class="btn btn-tame-custom">Submit</button>
  </form>
</div>
