<div class="container">
  <div class="row image-part">
    <img
      src="../../../../assets/images/mocks/lik1.jpg"
      alt="profile picture"
      class="profile-picture"
    />
    <h2>Martin Blažeković</h2>
  </div>
  <hr />
  <div class="row">
    <div class="col number-part">
      <div>
        <h4>Posts</h4>
        <p>2</p>
      </div>
      <div>
        <h4>Followers</h4>
        <p>4</p>
      </div>
      <div>
        <h4>Following</h4>
        <p>4</p>
      </div>
    </div>
  </div>
  <div class="posts">
    <h4>Posts by Martin</h4>
    <div class="post">
      <img
        src="../../../../assets/images/mocks/lik1.jpg"
        alt="profile picture"
        class="post-picture"
      />
      <div class="post-desc">
        <div>
          <span>Martin Blažeković</span>
          <span>20:32, 19.03.2023</span>
        </div>
        <p class="post-text">Danas je bio lijep i suncan dan!</p>
      </div>
    </div>
    <div class="post">
      <img
        src="../../../../assets/images/mocks/lik1.jpg"
        alt="profile picture"
        class="post-picture"
      />
      <div class="post-desc">
        <div>
          <span>Martin Blažeković</span>
          <span>17:22, 17.03.2023</span>
        </div>
        <p class="post-text">Pozdrav svim mojim prijateljima!</p>
      </div>
    </div>
    <div class="post">
      <img
        src="../../../../assets/images/mocks/lik1.jpg"
        alt="profile picture"
        class="post-picture"
      />
      <div class="post-desc">
        <div>
          <span>Martin Blažeković</span>
          <span>17:22, 17.03.2023</span>
        </div>
        <p class="post-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
    <div class="post">
      <img
        src="../../../../assets/images/mocks/lik1.jpg"
        alt="profile picture"
        class="post-picture"
      />
      <div class="post-desc">
        <div>
          <span>Martin Blažeković</span>
          <span>17:22, 17.03.2023</span>
        </div>
        <p class="post-text">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
      </div>
    </div>
  </div>
</div>
