<div class="container">
  <div class="row image-part">
    <img
      src="../../../../assets/images/mocks/lik1.jpg"
      alt="profile picture"
      class="profile-picture"
    />
    <h2>Martin Blažeković</h2>
  </div>
  <hr />
  <div class="row">
    <div class="col number-part">
      <div>
        <h4>Posts</h4>
        <p>4</p>
      </div>
      <div>
        <h4>Followers</h4>
        <p>4</p>
      </div>
      <div>
        <h4>Following</h4>
        <p>4</p>
      </div>
    </div>
  </div>
  <div class="button-div">
    <button class="btn btn-success">NEW POST</button>
  </div>
  <h4>Posts by Martin</h4>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Martin Blažeković</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">Danas je bio lijep i suncan dan!</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Martin Blažeković</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">Danas je bio lijep i suncan dan!</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Martin Blažeković</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">Danas je bio lijep i suncan dan!</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Martin Blažeković</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">Danas je bio lijep i suncan dan!</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Martin Blažeković</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">Danas je bio lijep i suncan dan!</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
</div>
