<div class="container">
  <div class="row image-part">
    <img
      src="../../../../assets/images/mocks/lik1.jpg"
      alt="profile picture"
      class="profile-picture"
    />
    <h2>{{ user.firstname }} {{ user.lastname }}</h2>
  </div>
  <hr />
  <div class="row">
    <div class="col number-part">
      <div>
        <h4>Posts</h4>
        <p>{{ userPosts.length }}</p>
      </div>
      <div>
        <h4>Followers</h4>
        <p>4</p>
      </div>
      <div>
        <h4>Following</h4>
        <p>4</p>
      </div>
    </div>
  </div>
  <div class="button-div">
    <button
      class="btn btn-tame-custom"
      (click)="newPostButton()"
      *ngIf="ownProfile"
    >
      NEW POST
    </button>
    <button
      class="btn btn-tame-custom"
      (click)="followUnfollowUser()"
      *ngIf="!ownProfile"
    >
      {{ doIFollowText }}
    </button>
  </div>
  <h4>Posts by {{ user.firstname }}</h4>
  <div class="posts">
    <div class="post" *ngFor="let post of userPosts">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>{{ post.makerUsername }}</span>
            <span>{{ post.creationDate }}</span>
          </div>
          <p class="post-text">{{ post.text }}</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined" (click)="likePost(post.id)">
            thumb_up
          </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-post-window
  *ngIf="writingNewPost"
  [post]="newPost"
  (childVarChange)="onChildVarChange($event)"
></app-post-window>
