<div [ngClass]="darkTheme ? 'container dark' : 'container'">
  <h2>Register to TAME</h2>
  <form #myForm="ngForm" (submit)="onSubmit()">
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Email"
        name="email"
        [(ngModel)]="user!!.email"
        required
        email
        pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Username"
        name="username"
        [(ngModel)]="user!!.username"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="First Name"
        name="firstname"
        [(ngModel)]="user!!.firstname"
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="Last Name"
        name="lastname"
        [(ngModel)]="user!!.lastname"
      />
    </div>
    <div class="form-group">
      <label for="dateOfBirth">Date of birth</label>
      <input
        type="date"
        class="form-control"
        id="dateOfBirth"
        aria-describedby="emailHelp"
        placeholder="Date of birth"
        name="dateOfBirth"
        [(ngModel)]="user!!.dateOfBirth"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        name="firstPassword"
        [(ngModel)]="user!!.firstPassword"
      />
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Confirm password"
        name="confirmPassword"
        [(ngModel)]="user!!.confirmPassword"
      />
    </div>
    <div class="form-group center">
      <img
        src="{{ profileAvatar }}"
        alt="choose avatar"
        class="choose-avatar-img"
        (click)="showingAvatarWindow = true"
      />
    </div>
    <p class="form-check-label" for="exampleCheck1">
      Back to <a [routerLink]="['../login']">Login</a>
    </p>
    <button type="submit" class="btn btn-tame-custom">Submit</button>
  </form>
</div>

<div class="choose-avatar-div" *ngIf="showingAvatarWindow">
  <div class="overlay"></div>
  <div class="window">
    <div class="close-button" (click)="showingAvatarWindow = false">X</div>
    <div class="avatars">
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarOne.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarTwo.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarThree.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarFour.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarFive.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarSix.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarSeven.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarEight.png"
        (click)="getProfilePic($event)"
      />
      <img
        class="avatar"
        src="../../../../assets/images/avatars/avatarNine.png"
        (click)="getProfilePic($event)"
      />
    </div>
  </div>
</div>
