<div [ngClass]="darkTheme ? 'container dark' : 'container'">
  <div class="settings">
    <div
      [ngClass]="darkTheme ? 'option dark-option' : 'option'"
      (click)="editingInfo = true"
    >
      Edit your information
    </div>
    <div
      [ngClass]="darkTheme ? 'option dark-option' : 'option'"
      (click)="changeTheme()"
    >
      Change the theme
    </div>
    <div
      [ngClass]="darkTheme ? 'option log-out-dark' : 'option log-out'"
      (click)="logout()"
    >
      LOG OUT
    </div>
  </div>
  <div class="about">
    <p>
      TAME is a social network application made by Lea Črepak, Jan Tovernić,
      Mislav Winkler and Martin Blažeković. 2023 (C)
    </p>
  </div>
</div>
<app-edit-information-window
  *ngIf="editingInfo"
  [user]="user"
  (childVarChange)="onChildVarChange($event)"
></app-edit-information-window>
