<div [ngClass]="darkTheme ? 'container dark' : 'container'">
  <h2 [ngClass]="darkTheme ? 'title dark' : 'title'">
    Find new people on TAME
  </h2>
  <hr />
  <div class="input-div">
    <form (submit)="onSubmit()">
      <input
        [ngClass]="darkTheme ? 'search-term dark-term' : 'search-term'"
        type="text"
        placeholder="Type the name of the person..."
        name="inputText"
        [(ngModel)]="searchTerm"
      />
    </form>
  </div>
  <div [@inOutAnimation] class="search-results" *ngIf="filteredUsers">
    <div
      class="search-result"
      *ngFor="let user of filteredUsers"
      [routerLink]="['../profile/' + user.username]"
    >
      <img
        class="profile-image"
        src="{{ user.profilePicture }}"
        alt="Profile Image"
      />
      <div class="name-username">
        <h5 class="name">{{ user.firstname + " " + user.lastname }}</h5>
        <i class="username">@{{ user.username }}</i>
      </div>
    </div>
  </div>
</div>
