<div
  [ngClass]="darkTheme ? 'navbar dark' : 'navbar'"
  [ngStyle]="{
    'justify-content': isAuthenticated == true ? 'space-between' : 'center'
  }"
>
  <div class="logo-div">
    <img
      *ngIf="!darkTheme"
      src="../../../assets/images/logos/lightThemeLogo.png"
      alt=""
    />
    <img
      *ngIf="darkTheme"
      src="../../../assets/images/logos/darkThemeLogo.png"
      alt=""
    />
    <h2 [ngClass]="darkTheme ? 'navbar-title dark-font' : 'navbar-title'">
      TAME
    </h2>
  </div>
  <div
    *ngIf="isAuthenticated && !isAdmin"
    [ngClass]="darkTheme ? 'navbar-menu dark-font' : 'navbar-menu'"
  >
    <div
      class="navbar-menu-item"
      [routerLink]="['home']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> home </span>
      <p>Home</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['search']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> search </span>
      <p>Search</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['profile']"
      [routerLinkActive]="['selected']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="material-symbols-outlined"> account_circle </span>
      <p>Profile</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['settings']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> settings </span>
      <p>Settings</p>
    </div>
  </div>
  <div
    *ngIf="isAuthenticated && isAdmin"
    [ngClass]="darkTheme ? 'navbar-menu dark-font' : 'navbar-menu'"
  >
    <div
      class="navbar-menu-item"
      [routerLink]="['admin-dashboard']"
      [routerLinkActive]="['selected']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span class="material-symbols-outlined"> admin_panel_settings </span>
      <p>Administration</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['settings']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> settings </span>
      <p>Settings</p>
    </div>
  </div>
</div>
