<div class="navbar">
  <div class="logo-div">
    <img src="../../../assets/images/logos/lightThemeLogo.png" alt="" />
    <h2>TAME</h2>
  </div>
  <div *ngIf="isAuthenticated" class="navbar-menu">
    <div
      class="navbar-menu-item"
      [routerLink]="['home']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> home </span>
      <p>Home</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['search']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> search </span>
      <p>Search</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['profile']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> account_circle </span>
      <p>Profile</p>
    </div>
    <div
      class="navbar-menu-item"
      [routerLink]="['settings']"
      [routerLinkActive]="['selected']"
    >
      <span class="material-symbols-outlined"> settings </span>
      <p>Settings</p>
    </div>
  </div>
</div>
