<div class="container">
  <h4>Posts by people you follow</h4>
  <hr />
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik2.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Jan Tovernić</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s
          </p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>1</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/likusa1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Lea Črepak</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">
            It is a long established fact that a reader will be distracted by
            the readable content of a page when looking at its layout. The point
            of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content
            here', making it look like readable English. Many desktop publishing
            packages and web page editors now use Lorem Ipsum as their default
            model text
          </p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>4</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/likusa1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Lea Črepak</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour,
          </p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span></span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik2.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Jan Tovernić</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">
            The standard chunk of Lorem Ipsum used since the 1500s is reproduced
            below for those interested.
          </p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span></span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="posts">
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik3.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>Mislav Winkler</span>
            <span>20:32, 19.03.2023</span>
          </div>
          <p class="post-text">
            Many desktop publishing packages and web page editors now use Lorem
            Ipsum as their default model text, and a search for 'lorem ipsum'
            will uncover many web sites still in their infancy.
          </p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span class="material-symbols-outlined"> thumb_up </span>
          <span>2</span>
        </div>
        <div class="like">
          <span class="material-symbols-outlined"> comment </span>
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
</div>
