<div class="container">
  <h4>Posts by people you follow</h4>
  <hr />
  <div class="posts">
    <div class="post" *ngFor="let post of userFollowsPosts">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>{{ post.makerUsername }}</span>
            <span>{{ post.creationDate }}</span>
          </div>
          <p class="post-text">{{ post.text }}</p>
        </div>
      </div>
      <div class="post-interacts">
        <div class="like">
          <span
            *ngIf="!post.didILike"
            class="material-symbols-outlined no-fill"
            (click)="likePost(post.id, post.makerUsername!)"
          >
            thumb_up
          </span>
          <span
            *ngIf="post.didILike"
            class="material-symbols-outlined"
            (click)="likePost(post.id, post.makerUsername!)"
          >
            thumb_up
          </span>
          <span (click)="showLikesUsersList(post.id!)">{{ post.likes }}</span>
        </div>
        <div class="like" (click)="showPostDetails(post.id!)">
          <span class="material-symbols-outlined no-fill"> comment </span>
          <span>{{ post.comments }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-user-list-window
  *ngIf="showUsersList"
  [users]="whichUsersToShow"
  (childVarChangeUsersList)="onChildVarChangeUsersPosts($event)"
></app-user-list-window>

<div class="post-details" *ngIf="showingPost">
  <div class="overlay"></div>
  <div class="window">
    <div class="close-button" (click)="showingPost = false">X</div>
    <div class="post">
      <div class="post-main">
        <img
          src="../../../../assets/images/mocks/lik1.jpg"
          alt="profile picture"
          class="post-picture"
        />
        <div class="post-desc">
          <div>
            <span>{{ chosenPost?.makerUsername }}</span>
            <span>{{ chosenPost?.creationDate }}</span>
          </div>
          <p class="post-text">{{ chosenPost?.text }}</p>
        </div>
      </div>
    </div>
    <div class="post-comments">
      <div class="comment" *ngFor="let comment of chosenPostComments">
        <p>
          <strong>{{ comment.makerUsername }}</strong
          >: {{ comment.text }}
        </p>
      </div>
    </div>
    <form class="new-comment-form" (submit)="onSubmitNewComment()">
      <input
        type="text"
        id="inputText"
        name="inputText"
        placeholder="Enter your comment here..."
        [(ngModel)]="newCommentText"
      />
      <button type="submit" class="btn-tame-custom">></button>
    </form>
  </div>
</div>
