// Font
$primary-font: "Montserrat", "sans-serif";

// Light theme
$primary-color: #0ec99e;
$secondary-color: #3654c8;
$tertiary-color: #386641;
$background-color: #dbe9e1;
$font-color: #121e29;

// Breakpoints
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;
