// Font
$primary-font: "Montserrat", "sans-serif";

// Light theme
$primary-color: #0ec99e;
$secondary-color: #3654c8;
$background-color: #d9eddf;
$font-color: #121e29;
$nav-font-color: #d9eddf;

// Breakpoints
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;
